In [1]:
!pip install dask[complete] --upgrade --quiet
!pip install aiohttp --quiet

In [2]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from dask.distributed import Client, progress

In [3]:
client = Client(n_workers=4, threads_per_worker=2, memory_limit='2GB')
client

In [4]:
df = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/creditcard.csv', dtype={'Time': 'float64'})

In [5]:
df.describe().compute()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  1.175161e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     49346.000000 -7.868600e-01  ...       6.840000       0.000000
50%     76029.000000  9.301532e-02  ...      24.990000       0.000000
75%    138472.000000  1.912886e+00  ...      84.910000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

## How many transactions are there in total?

In [6]:
print('Total Number of Transactions: ',df.shape[0].compute())

Total Number of Transactions:  284807

## How many transactions are fraud, and how many are not fraud?

In [7]:
# inspect class column for num of fraud class
df['Class'].value_counts().compute()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
print('Total Number of Fraudulent Transactions: ', df['Class'].value_counts().compute()[1])

Total Number of Fraudulent Transactions:  492

## What is the maximum amount in fraud transactions?

In [9]:
# seperate fraudlent transactions from df
fraud = df[df['Class'] == 1]
max_fraud = fraud['Amount'].max()

print(f'Maximum Fraudulent Amount: ${max_fraud.compute()}')

Maximum Fraudulent Amount: $2125.87