In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [ ]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

ed_df = pd.read_sql_query('select * from useducation',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

#1 Determine all the variable types and find the fraction of the missing values for each variable.

In [ ]:
ed_df.info()
ed_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1319 non-null   float64
 14  GRADES_KG_G                   1360 non-null   float64
 15  GRADES_4_G                    1361 non-null   float64
 16  GRADES_8_G                    1361 non-null   float64
 17  GRADES_12_G                   1361 non-null   float64
 18  GRADES_1_8_G                  1361 non-null   float64
 19  GRADES_9_12_G                 1361 non-null   float64
 20  GRADES_ALL_G                  1319 non-null   float64
 21  AVG_MATH_4_SCORE              536 non-null    float64
 22  AVG_MATH_8_SCORE              532 non-null    float64
 23  AVG_READING_4_SCORE           533 non-null    float64
 24  AVG_READING_8_SCORE           498 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

       PRIMARY_KEY       STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0     1992_ALABAMA     ALABAMA  ...           207.963517                  NaN
1      1992_ALASKA      ALASKA  ...                  NaN           258.859712
2     1992_ARIZONA     ARIZONA  ...           206.212716           262.169895
3    1992_ARKANSAS    ARKANSAS  ...           208.634458           264.619665
4  1992_CALIFORNIA  CALIFORNIA  ...           196.764414                  NaN

[5 rows x 25 columns]

In [ ]:
ed_df.isnull().sum()*100/ed_df.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

#2 Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

It would make sense to drop AVG_MATH_4_SCORE, AVG_MATH_8_SCORE, AVG_READING_4_SCORE, AVG_READING_8_SCORE columns because over 64% of the data is missing from these columns. For all other columns the missing values range from 8-17% of the data. We can probably fill these values in some manner (probably using the mean for each column) and still maintain the integrety of our analysis.

In [ ]:
ed_fill = ed_df.copy()

fill_columns = ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE", 
             "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE", 
             "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
             "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G", 
             "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G", 
             "GRADES_9_12_G", "GRADES_ALL_G"]

for column in fill_columns:
    ed_fill.loc[:, column] = ed_fill.loc[:, column].fillna(ed_fill.loc[:, column].mean())

ed_fill.drop(columns=['AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE'], inplace=True)

In [ ]:
ed_fill.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
dtype: int64

#3 Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [ ]:
ed_year = ed_fill.copy()

years = ed_fill["YEAR"].unique()

for column in fill_columns:
    for year in years:
        ed_year.loc[ed_year["YEAR"] == year, column] = ed_year.loc[ed_year["YEAR"] == year, column].fillna(
            ed_year[ed_year["YEAR"] == year][column].mean())

#4 This time, fill in the missing values using interpolation (extrapolation).

In [ ]:
ed_interpolate = ed_fill.copy()

for column in fill_columns:
    ed_interpolate.loc[:, column] = ed_interpolate.loc[:, column].interpolate()

Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

In [ ]:
for col in fill_columns:
    print("Statistics for columns: {}".format(col))
    print(pd.concat([ed_df[col], ed_interpolate[col]], axis=1).describe())

Statistics for columns: ENROLL
             ENROLL        ENROLL
count  1.229000e+03  1.492000e+03
mean   9.159308e+05  9.159308e+05
std    1.065280e+06  9.667725e+05
min    4.386600e+04  4.386600e+04
25%    2.583140e+05  3.150940e+05
50%    6.483130e+05  8.204140e+05
75%    1.014528e+06  9.211780e+05
max    6.307022e+06  6.307022e+06
Statistics for columns: TOTAL_REVENUE
       TOTAL_REVENUE  TOTAL_REVENUE
count   1.280000e+03   1.492000e+03
mean    9.092082e+06   9.092082e+06
std     1.174519e+07   1.087818e+07
min     4.656500e+05   4.656500e+05
25%     2.186305e+06   2.546261e+06
50%     5.079546e+06   6.359310e+06
75%     1.085985e+07   9.276958e+06
max     8.921726e+07   8.921726e+07
Statistics for columns: FEDERAL_REVENUE
       FEDERAL_REVENUE  FEDERAL_REVENUE
count     1.280000e+03     1.492000e+03
mean      7.663723e+05     7.663723e+05
std       1.145242e+06     1.060702e+06
min       3.102000e+04     3.102000e+04
25%       1.893540e+05     2.170200e+05
50%       4.033765e+05     5.167410e+05
75%       8.289660e+05     7.663723e+05
max       9.990221e+06     9.990221e+06
Statistics for columns: STATE_REVENUE
       STATE_REVENUE  STATE_REVENUE
count   1.280000e+03   1.492000e+03
mean    4.216553e+06   4.216553e+06
std     5.543072e+06   5.133895e+06
min     0.000000e+00   0.000000e+00
25%     1.153097e+06   1.356434e+06
50%     2.537074e+06   3.127639e+06
75%     5.080939e+06   4.269811e+06
max     5.090457e+07   5.090457e+07
Statistics for columns: LOCAL_REVENUE
       LOCAL_REVENUE  LOCAL_REVENUE
count   1.280000e+03   1.492000e+03
mean    4.109157e+06   4.109157e+06
std     5.482971e+06   5.078230e+06
min     2.209300e+04   2.209300e+04
25%     7.158345e+05   9.447962e+05
50%     2.055780e+06   2.697257e+06
75%     4.768680e+06   4.109157e+06
max     3.610526e+07   3.610526e+07
Statistics for columns: TOTAL_EXPENDITURE
       TOTAL_EXPENDITURE  TOTAL_EXPENDITURE
count       1.280000e+03       1.492000e+03
mean        9.196681e+06       9.196681e+06
std         1.197813e+07       1.109393e+07
min         4.816650e+05       4.816650e+05
25%         2.165404e+06       2.523968e+06
50%         5.234506e+06       6.520224e+06
75%         1.074519e+07       9.434922e+06
max         8.532013e+07       8.532013e+07
Statistics for columns: INSTRUCTION_EXPENDITURE
       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE
count             1.280000e+03             1.492000e+03
mean              4.762966e+06             4.762966e+06
std               6.293004e+06             5.828468e+06
min               2.655490e+05             2.655490e+05
25%               1.168032e+06             1.343611e+06
50%               2.657452e+06             3.358142e+06
75%               5.568028e+06             4.938820e+06
max               4.396452e+07             4.396452e+07
Statistics for columns: SUPPORT_SERVICES_EXPENDITURE
       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE
count                  1.280000e+03                  1.492000e+03
mean                   2.680331e+06                  2.680331e+06
std                    3.353349e+06                  3.105812e+06
min                    1.399630e+05                  1.399630e+05
25%                    6.357900e+05                  7.673688e+05
50%                    1.525406e+06                  1.913844e+06
75%                    3.229651e+06                  2.795888e+06
max                    2.605802e+07                  2.605802e+07
Statistics for columns: OTHER_EXPENDITURE
       OTHER_EXPENDITURE  OTHER_EXPENDITURE
count       1.229000e+03       1.492000e+03
mean        4.292046e+05       4.292046e+05
std         5.340693e+05       4.846832e+05
min         1.154100e+04       1.154100e+04
25%         1.028310e+05       1.354282e+05
50%         2.715960e+05       3.672335e+05
75%         5.186000e+05       4.568915e+05
max         3.995951e+06       3.995951e+06
Statistics for columns: CAPITAL_OUTLAY_EXPENDITURE
       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE
count                1.280000e+03                1.492000e+03
mean                 9.027693e+05                9.027693e+05
std                  1.327562e+06                1.229564e+06
min                  1.270800e+04                1.270800e+04
25%                  1.815645e+05                2.163398e+05
50%                  5.102595e+05                6.482175e+05
75%                  9.668515e+05                9.027693e+05
max                  1.022366e+07                1.022366e+07
Statistics for columns: GRADES_PK_G
         GRADES_PK_G    GRADES_PK_G
count    1319.000000    1492.000000
mean    17601.614102   17601.614102
std     30016.166447   28221.111094
min         0.000000       0.000000
25%      2021.000000    2449.000000
50%      8106.000000   10505.000000
75%     22295.000000   19149.250000
max    250911.000000  250911.000000
Statistics for columns: GRADES_KG_G
         GRADES_KG_G    GRADES_KG_G
count    1360.000000    1492.000000
mean    63746.761029   63746.761029
std     80205.138143   76572.547833
min       544.000000     544.000000
25%     11745.000000   14016.000000
50%     41597.500000   48897.000000
75%     73865.250000   70372.750000
max    530531.000000  530531.000000
Statistics for columns: GRADES_4_G
          GRADES_4_G     GRADES_4_G
count    1361.000000    1492.000000
mean    64538.927259   64538.927259
std     80293.387625   76684.998585
min       633.000000     633.000000
25%     13739.000000   15195.500000
50%     43272.000000   49884.500000
75%     75481.000000   71814.250000
max    493415.000000  493415.000000
Statistics for columns: GRADES_8_G
          GRADES_8_G     GRADES_8_G
count    1361.000000    1492.000000
mean    64271.057311   64271.057311
std     78910.545776   75364.301721
min       437.000000     437.000000
25%     13342.000000   15682.750000
50%     43339.000000   49571.000000
75%     76566.000000   72131.000000
max    500143.000000  500143.000000
Statistics for columns: GRADES_12_G
        GRADES_12_G    GRADES_12_G
count    1361.00000    1492.000000
mean    54268.92432   54268.924320
std     67889.27623   64838.328605
min       311.00000     311.000000
25%     10919.00000   13437.000000
50%     36735.00000   39566.000000
75%     67460.00000   64616.250000
max    498403.00000  498403.000000
Statistics for columns: GRADES_1_8_G
       GRADES_1_8_G  GRADES_1_8_G
count  1.361000e+03  1.492000e+03
mean   5.192140e+05  5.192140e+05
std    6.436384e+05  6.147133e+05
min    4.878000e+03  4.878000e+03
25%    1.106260e+05  1.211522e+05
50%    3.457750e+05  4.015865e+05
75%    6.119050e+05  5.749118e+05
max    3.929869e+06  3.929869e+06
Statistics for columns: GRADES_9_12_G
       GRADES_9_12_G  GRADES_9_12_G
count   1.361000e+03   1.492000e+03
mean    2.470714e+05   2.470714e+05
std     3.077056e+05   2.938773e+05
min     1.808000e+03   1.808000e+03
25%     5.147100e+04   5.919750e+04
50%     1.642600e+05   1.817010e+05
75%     2.905020e+05   2.825390e+05
max     2.013687e+06   2.013687e+06
Statistics for columns: GRADES_ALL_G
       GRADES_ALL_G  GRADES_ALL_G
count  1.319000e+03  1.492000e+03
mean   8.024415e+05  8.024415e+05
std    9.707031e+05  9.126522e+05
min    7.254000e+03  7.254000e+03
25%    1.810650e+05  2.293578e+05
50%    5.503420e+05  6.473260e+05
75%    9.282755e+05  8.724220e+05
max    5.944746e+06  5.944746e+06

We see higher counts for the columns that we filled missing values, but we don't much affect on the description statistics. The means are all identical, but this shouldn't be suprising since we filled with means.